#====================================================
# Simulation Output Files
#====================================================
*.out
*.vvp
*.vcd
*.log
*.tmp

#====================================================
# GTKWave
#====================================================
*.gtkw

#====================================================
# OS Files
#====================================================
.DS_Store
Thumbs.db

#====================================================
# VS Code
#====================================================
.vscode/
